.root{
    display: flex;
    justify-content: space-around;
    ;
}
.container{
    width: 15%;
    align-items: center;
    border: solid 1px black;
    border-radius: 5px;
    background: #d3d3d3;
}
.top{
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    display: flex;
    cursor: pointer;
}
.add{
    width: 35px;
    height: 30px;
    background: blue;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
.quantity{
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;

}
h1{
    font-size: 0.9em;
    text-transform: uppercase;
    color: #000;
}