.root_s{
    height: 56px;
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 25px;
}
.input_s{
    font-size: 25px;
    width: 70%;
    height: 50px;
}
.search{
    width: 25%;
    height: 56px;
    background: #cecece;
    float: left;
}
