.root_c {
    background: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    border: solid 1px black;
}

.title_c {
    display: flex;

    font-weight: 600;
}

.description_c {
    padding-top: 10px;
    display: flex;
    text-align: left;
}

.readi {
    background: rgba(61, 240, 14, 0.44);
}

.normal {
    background: #ffffff;
}

.low {
    background: rgba(218, 218, 218, 0.38);
}

.high {
    background: rgba(255, 57, 7, 0.33);
}

.function_block {
    display: flex;
    width: 100%;
    flex-direction: row;

}

.del{
    margin-top: 15px;
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
}

.edit {
    cursor: pointer;
    margin-top: 15px;
    width: 15px;
    height: 15px;
    background: green;
}